*{
/*  outline: 1px solid red;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

/*----------------------------------------------------------------*/
/*AppNavbar Components (All Pages)*/
.logo {
  width: 230px;
  height: 49px;
  margin-bottom: 10px;
  margin-left: 30px;
  padding-right: 10px;
}
.page-header {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}
.page-header1 {
  font-family: 'Open Sans', sans-serif;
}
.ms-auto{
    font-size: 14px; /* Adjust the font size as desired */
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    margin-top: 10px;
    margin-right: 30px;
}
.nav-icon1 {
  width: 30px; 
  height: 30px; 
}
.custom-navbar {
  justify-content: rigth;
}

.custom-toggle-icon {
  background-color: #fff; /* Set the background color of the toggle icon to white */
}

/*Design Navbar*/
.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.nvlnk {
  font-size: 15px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
.nvlnk::before,
.nvlnk::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.25s;
}
.nvlnk::before {
  top: -3px;
  transform-origin: left;
}
.nvlnk::after {
  bottom: -3px;
  transform-origin: right;
}
.nvlnk:hover::before,
.nvlnk:hover::after,
.active::before,
.active::after {
  transform: scaleX(1);
}

.navbar-toggler{
  padding: 0.1rem;
  background-color: dimgray;
 }

/*----------------------------------------------------------------*/
/*Banner Components (Home Page)*/
.banner-text{
  font-size: 45px;
  font-family: 'Rubik Microbe', cursive;
  color: #214032;
  font-weight: 700;
}
.tag-line{
  font-size: 25px;
  font-family: 'Rubik Microbe', cursive;
  color: #214032;
  font-weight: 700;
}
.b-title{
  font-size: 18px;
  font-family: 'Belanosima', sans-serif;
  text-align: center;
}
.b-info{
  font-size: 12px;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}
.card-body-white {
  color: white;
}
.shopicon{
  width: 110px;
  height: 45px;
}
.shp-b{
  width: 110px;
  height: 45px;
}

.shop-button {
  position: relative;
  display: flex;
  align-items: center;
  color: #214032;
  background: none;
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  width: 163px;
}

.shop-button::before {
  content: "";
  position: absolute;
  top: 50%;
  z-index: -1;
  transform: translate(calc(100% + 4px), -50%);
  width: 45px;
  height: 38px;
  background: #95B698;
  border-radius: 50px;
  transition: transform 0.25s cubic-bezier(0, 0, 0.5, 2),
    width 0.25s cubic-bezier(0, 0, 0.5, 2);
}

.shop-button:hover::before {
  width: 125px;
  transform: translate(-18px, -50%);
  transition: transform 0.25s cubic-bezier(0, 0, 0.5, 2),
    width 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2);
}

.shop-button i {
  margin-left: 5px;
  transition: transform 0.25s 0.4s cubic-bezier(0, 0, 0.5, 2);
}

.shop-button:hover i {
  transform: translate(3px, 0);
}

.icon1{
  width: 30px; 
  height: 30px; 
}

/*Carousel*/
.item{
  min-height: 80%;
  min-width: 30%;
  padding: 40px;
}

.item img {
  width: 100%;
  height: 70%;
  border-radius: 1rem;
  pointer-events: none;
}

.inner-carousel{
  display: flex;
/*  background: darkolivegreen;*/
}

.carousel{
  cursor: grab;
  overflow: hidden;
/*  background-color: rgba(144, 238, 144, 0.7);*/
}

/*----------------------------------------------------------------*/
/*Login Page*/
.l-logo {
  width: 50px;
  height: 50px;
}
.cardHighlight {
  background: linear-gradient(to bottom, #95B698, #71B98B);
  backdrop-filter: blur(20px);
  width: 400px;
  height: 90px;
}
.rl-header{
  font-size: 25px;
}
.f-label{
  font-size: 14px;
}
/*----------------------------------------------------------------*/
/*ProductCard Components (Shop Page)*/
.mt-3{
  font-size: 13px;
  min-height: 300px;
}
.cart-card{
  margin-top: 10px;
}

/*----------------------------------------------------------------*/
/*Products Page*/
.search-icon{
  margin-top: 20px;
  margin-right: 5px;
  width: 25px; 
  height: 25px;
}

/*----------------------------------------------------------------*/
/*AdminPanel Page*/
.admin-info{
  font-size: 14px;
  font-family: 'Libre Baskerville', serif;
}
.a-button{
  font-size: 10px;
}
.b-button{
  width: 70px;
  height: 30px;
}
.c-button{
  width: 50px;
  height: 35px;
}
.d-button{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}
.e-button{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  width: 50px;
  height: 9px;
}
.d-button-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 20px;
}
.dashicon{
  width: 300px;
  height: 90px;
}


/*------------------------------------------*/
/*Footer Component Start*/
footer {
  padding: 0.7rem;
  border-top: 1px solid lightgrey;
  box-shadow: lightgrey;
}

footer span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

 /* Social Icons*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.icons {
  display: flex;
  column-gap: 25px;
}
.icnbg {
  background-color: #27221f;
}
.icon {
  display: inline-flex;
  width: 45px;
  height: 44px;
  margin-left: 5%;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 46%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}
#eight {
  font-size: 20px;
  color: black;
  background-color: none;
}
.icon:hover {
  outline-offset: 4px;
}
.icon i {
  margin: auto;
}
.icon:hover i {
  animation: shake 0.25s;
}
.icon--instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
  border-radius: 100%;
}
.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
  border-radius: 100%;
}
.icon--fb:hover {
  background-color: royalblue;
  outline-color: #0077b5;
  border-radius: 100%;
}
.icon--gmail:hover {
  background-image: radial-gradient(
    circle at 30% 200%, 
    yellow 25%,
    blue 55%,
    green 60%,
    red 90%
    );
  outline-color: #2ea44f;
  border-radius: 100%;
}
@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa; 
  text-align: center;
  padding: 10px 0;
}

/*----------------------------------------------------*/
/*Swal Alert Button*/
/* Add this CSS to your stylesheet or style tag */
.custom-ok-button-class {
  background-color: seagreen !important;
  border-color: none;
}
/*----------------------------------------------------------------*/
.App-header {
  background-color: #282c34;
  /*min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;*/
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*-----------------------------------------------*/
